<%- include( "partials/head", { title: 'Page not found' } ) -%>
<%- include( "partials/nav" ) -%>
<h1>Page not found!</h1>
<hr />
You reached a dead end. You may want to try going <a href="/pages">home</a>.
</body>
</html>